In [1]:
import pandas as pd

In [2]:
# using get-contributors.ps1 PowerShell script
df = pd.read_csv('./2021/contributors.csv')

In [3]:
filtered = df[df.Commits > 0].reset_index(drop=True)

In [4]:
len(filtered.Author.unique())

36

In [5]:
by_repo = filtered.groupby('Repository').aggregate({'Author': ['unique'], 'Added': ['sum', 'mean'], 'Deleted': ['sum', 'mean'], 'Commits': ['sum', 'mean']})
by_repo

                                                        Author Added  \
                                                        unique   sum
Repository
DeviceCounts                             [woozyking, mptcloud]   963
EnrichData         [woozyking, KrisCowie, waynezhu6, maluhoss]  3944
JupyterHub                               [woozyking, maluhoss]    21
Miner                                           [QingleiZhang]   157
POIClustering                                  [wwwmonsterlam]   339
...                                                        ...   ...
ws-problems         [YizhiCatherineZhang, woozyking, DoParkEQ]   634
ws-product-nodejs                                  [woozyking]  5096
ws-product-python                                  [woozyking]   456
ws-product-ruby                                    [woozyking]   370
zoom-cli                                           [woozyking]   621

                               Deleted              Commits
                          mean     sum         mean     sum      mean
Repository
DeviceCounts        481.500000    1007   503.500000       2  1.000000
EnrichData          127.225806    2876    92.774194      93  3.000000
JupyterHub            2.333333      18     2.000000      15  1.666667
Miner                39.250000      54    13.500000       4  1.000000
POIClustering       339.000000     107   107.000000       1  1.000000
...                        ...     ...          ...     ...       ...
ws-problems          63.400000     527    52.700000      23  2.300000
ws-product-nodejs  2548.000000    2928  1464.000000       3  1.500000
ws-product-python   228.000000     297   148.500000       3  1.500000
ws-product-ruby     185.000000      31    15.500000       6  3.000000
zoom-cli            310.500000     198    99.000000       7  3.500000

[114 rows x 7 columns]

In [6]:
from utils import flatten_gb

In [7]:
by_repo = flatten_gb(by_repo)
by_repo

,Repository,Author_unique,Added_sum,Added_mean,Deleted_sum,Deleted_mean,Commits_sum,Commits_mean
0,DeviceCounts,"[woozyking, mptcloud]",963,481.500000,1007,503.500000,2,1.000000
1,EnrichData,"[woozyking, KrisCowie, waynezhu6, maluhoss]",3944,127.225806,2876,92.774194,93,3.000000
2,JupyterHub,"[woozyking, maluhoss]",21,2.333333,18,2.000000,15,1.666667
3,Miner,[QingleiZhang],157,39.250000,54,13.500000,4,1.000000
4,POIClustering,[wwwmonsterlam],339,339.000000,107,107.000000,1,1.000000
...,...,...,...,...,...,...,...,...
109,ws-problems,"[YizhiCatherineZhang, woozyking, DoParkEQ]",634,63.400000,527,52.700000,23,2.300000
110,ws-product-nodejs,[woozyking],5096,2548.000000,2928,1464.000000,3,1.500000
111,ws-product-python,[woozyking],456,228.000000,297,148.500000,3,1.500000
112,ws-product-ruby,[woozyking],370,185.000000,31,15.500000,6,3.000000
113,zoom-cli,[woozyking],621,310.500000,198,99.000000,7,3.500000

In [8]:
by_repo.Added_sum.sum()

17424267

In [9]:
by_repo.Deleted_sum.sum()

5385050

In [10]:
by_repo['Author_count'] = by_repo['Author_unique'].apply(lambda x: len(x))
by_repo

,Repository,Author_unique,Added_sum,Added_mean,Deleted_sum,Deleted_mean,Commits_sum,Commits_mean,Author_count
0,DeviceCounts,"[woozyking, mptcloud]",963,481.500000,1007,503.500000,2,1.000000,2
1,EnrichData,"[woozyking, KrisCowie, waynezhu6, maluhoss]",3944,127.225806,2876,92.774194,93,3.000000,4
2,JupyterHub,"[woozyking, maluhoss]",21,2.333333,18,2.000000,15,1.666667,2
3,Miner,[QingleiZhang],157,39.250000,54,13.500000,4,1.000000,1
4,POIClustering,[wwwmonsterlam],339,339.000000,107,107.000000,1,1.000000,1
...,...,...,...,...,...,...,...,...,...
109,ws-problems,"[YizhiCatherineZhang, woozyking, DoParkEQ]",634,63.400000,527,52.700000,23,2.300000,3
110,ws-product-nodejs,[woozyking],5096,2548.000000,2928,1464.000000,3,1.500000,1
111,ws-product-python,[woozyking],456,228.000000,297,148.500000,3,1.500000,1
112,ws-product-ruby,[woozyking],370,185.000000,31,15.500000,6,3.000000,1
113,zoom-cli,[woozyking],621,310.500000,198,99.000000,7,3.500000,1

In [11]:
by_repo.Author_count.describe()

count    114.000000
mean       2.131579
std        2.071779
min        1.000000
25%        1.000000
50%        1.000000
75%        3.000000
max       14.000000
Name: Author_count, dtype: float64

In [12]:
by_repo.sort_values(by='Author_count', ascending=False)[:5]

,Repository,Author_unique,Added_sum,Added_mean,Deleted_sum,Deleted_mean,Commits_sum,Commits_mean,Author_count
45,firstorder,"[kc-leung, amy83762100, vxsl, kevlabs, geoerik...",18874,141.909774,11357,85.390977,326,2.451128,14
93,snoke,"[DoParkEQ, geoerika, vxsl, woozyking, hyx131, ...",25190,283.033708,23070,259.213483,243,2.730337,13
78,overlord,"[eq-ianecc, geoerika, woozyking, vxsl, maluhos...",25068,417.800000,29977,499.616667,270,4.500000,8
56,locussdk,"[woozyking, amy83762100, KrisCowie, maluhoss, ...",39447,657.450000,12841,214.016667,239,3.983333,7
63,lumen-ui,"[geoerika, woozyking, kc-leung, DoParkEQ, tlow...",27537,1721.062500,26264,1641.500000,44,2.750000,6

In [13]:
by_repo.Commits_sum.sum()

4244

In [14]:
by_repo.Commits_sum.describe()

count    114.000000
mean      37.228070
std       78.108959
min        1.000000
25%        3.000000
50%       10.500000
75%       29.000000
max      465.000000
Name: Commits_sum, dtype: float64

In [15]:
by_repo.sort_values(by='Commits_sum', ascending=False)[:5]

,Repository,Author_unique,Added_sum,Added_mean,Deleted_sum,Deleted_mean,Commits_sum,Commits_mean,Author_count
85,react-maps,"[geoerika, vxsl]",35871,834.209302,17001,395.372093,465,10.813953,2
103,widget-studio,"[vxsl, hyx131, tlowande, woozyking]",662878,13257.560000,282872,5657.440000,397,7.940000,4
45,firstorder,"[kc-leung, amy83762100, vxsl, kevlabs, geoerik...",18874,141.909774,11357,85.390977,326,2.451128,14
78,overlord,"[eq-ianecc, geoerika, woozyking, vxsl, maluhos...",25068,417.800000,29977,499.616667,270,4.500000,8
93,snoke,"[DoParkEQ, geoerika, vxsl, woozyking, hyx131, ...",25190,283.033708,23070,259.213483,243,2.730337,13